body {
	background: #000;
}

.display {
	margin: 100px auto;
	text-align: center;
}

.square {
	display: inline-block;
	border: 1px solid #FFF;
	height: 100px;
	width: 100px;
	color: #FFF;
	line-height: 20px;
}

.game-over {
	color: #FFF;
	font-size: 100px;
	display: none;
}