body {
	background: #000;
	font-family: sans-serif;
}

h2 {
	font-weight: normal;
	-webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.4em;
}

.display {
	margin: 100px auto;
	text-align: center;
}

.board {
	display: none;
}

.title {
	color: #FFF;
	font-size: 100px;
}

.square {
	display: inline-block;
	border: 1px solid #FFF;
	height: 100px;
	width: 100px;
	color: #FFF;
	line-height: 20px;
	cursor: pointer;
}

.unavailable {
	cursor: default;
}

.game-over {
	color: #FFF;
	font-size: 100px;
	display: none;
}

#blue {
	background-color: blue;
}

#red {
	background-color: red;
}

.selection-screen .square {
	margin: 0 50px;
}
